* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: black;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .navbar a {
  text-decoration: none;
  color: whitesmoke;
  padding: 20px;
}

header .navbar a:hover {
  cursor: pointer;
  color: black;
  background-color: gray;
}

header .search {
  display: flex;
  width: 50px;
  height: 100%;
}

header .search img {
  margin: auto;
  align-items: center;
}

header .search:hover {
  cursor: pointer;
  background-color: orangered;
}
